html, body
{
-webkit-text-size-adjust:none;
-webkit-user-select:none;
-webkit-highlight:default;
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-touch-callout:none;
-webkit-font-smoothing:subpixel-antialiased !important;
margin:0px;
/* padding:0px; */
background:#EFEFF4;
color:#000;
cursor:default;
text-rendering:optimizeLegibility !important;
height:100%;
width:100%;
}

table{text-align:center}

table td{padding:0px}

#systemNav{
table-layout:fixed;
width:100%;
font:14px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
border-spacing:7px;
}

#systemNavTr td{
background:#fff;
border-radius:4px;
border:1px solid #006CFF;
cursor:pointer;
}

p{
margin:0px;
}

li{
margin:4px 0px;
padding-left:15px;
}

pre{
padding:17px;
border-radius:6px;
font:17px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
-webkit-user-select:text;
background:#fff;
white-space:pre-wrap;
margin:0px;
-webkit-user-select:text;
}

a{
font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
display:block;
padding:0px 30px 0px 15px;
color:#006CFF;
/* color:#000; */
width:100%;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
text-decoration:none;
height:44px;
box-sizing:border-box;
position:relative;
cursor:pointer;
}

row a{
font-size:14px;
float:right;
width:auto;
max-width:550px;
text-align:left;
text-decoration:underline;
}
@media screen and(max-width:768){row a{max-width:290px}}

img{
height:30px;
width:30px;
position:absolute;
top:7px;
left:15px;
border-radius:22.544%;
cursor:pointer;
z-index:1;
-webkit-touch-callout:default;
}

mediaFrame img{
position:relative;
top:0px;
left:0px;
display:block;
margin:auto;
border-radius:0px;
height:auto;
max-height:600px;
width:auto;
max-width:100%;
cursor:pointer;
}

avatar{
position:absolute;
top:7px;
left:15px;
display:block;
height:30px;
width:30px;
background-position:-9px -1px;
background-repeat:no-repeat;
background-size:47px 36px;
z-index:1;
}

mediaFrame{
display:block;
width:100%;
height:auto;
background:#000;
/* margin-bottom:15px; */
}

video, iframe{
background:#000;
width:100%;
max-width:1280px;
height:auto;
max-height:720px;
display:block;
margin:auto;
cursor:pointer;
}

audio{
width:100%;
margin:auto;
display:block;
position:relative;
/* background:#000; */
}

imgCaption{
display:block;
margin-top:15px;
}

select{
border-radius:0px;
outline:none;
width:100%;
height:44px;
position:relative;
box-sizing:border-box;
text-indent:15px;
font:17px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
background:transparent;
-webkit-appearance:none;
border:none;
cursor:pointer;
z-index:2;
}

img + select{
text-indent:60px;
}

img + rowLabel{
text-indent:45px;
}

row + img{
text-indent:45px;
}

avatar + rowLabel{
text-indent:45px;
}

.aIcon{
/* color:#000; */
display:block;
overflow:hidden;
box-sizing:border-box;
width:100%;
font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
height:44px;
position:relative;
padding-left:59px;
cursor:pointer;
}

.colorblue{
color:#006CFF;
}

form{
margin:0px;
width:100%;
position:relative;
}

input{
border-radius:0px;
border:0px solid red;
-webkit-appearance:none;
outline:none;
padding:0px;
}

input[type=submit], input[type=file]{
display:block;
overflow:hidden;
box-sizing:border-box;
width:100%;
display:block;
font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
position:relative;
padding-left:15px;
cursor:pointer;
height:44px;
text-align:left;
-webkit-user-select:none;
background:transparent;
color:#006CFF;
}

input ~ input[type=submit]{
opacity:1;
width:0px;
height:0px;
position:absolute;
top:0px;
left:0px;
background:red;
-webkit-user-select:none;
}

touch ~ input[type=submit]{
opacity:1px;
width:0px;
height:0px;
position:absolute;
top:0px;
left:0px;
background:red;
-webkit-user-select:none;
}

input[type=text], input[type=email], input[type=password], input[type=number]{
border-radius:0px;
border:0px solid #000;
-webkit-appearance:none;
outline:none;
padding:0px 15px 0px 15px;
width:100%;
height:44px;
position:absolute;
box-sizing:border-box;
font:17px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
background:transparent;
z-index:1;
/* color:#fff; */
}
input::-webkit-input-placeholder{
color:#8E8E93 !important;
}
input:-webkit-autofill{
-webkit-box-shadow:0px 0px 0px 50px #000 inset;
-webkit-text-fill-color:#000;
}
input:-webkit-autofill:focus{
-webkit-box-shadow:0px 0px 0px 50px #fff inset;
-webkit-text-fill-color:#000;
}

	input[type=checkbox]{
	outline:none;
	appearance:none;
	-webkit-appearance:none;
	box-shadow:inset 0px 0px 0px 1px #E2E2E2;
	border-radius:15px;
	border:0px solid #000;
	background-color:#fff;
	padding:1px;
	display:inline-block;
	width:52px;
	height:31px;
	position:relative;
	cursor:pointer;
	transition:all .3s ease-out;
	margin:0px;
	top:6px;
	right:15px;
	position:absolute;
	transform:scale(1);
	-webkit-transform:scale(1);
	}
	
	input[type=checkbox]:checked{box-shadow:inset 0px 0px 0px 20px #4CD964}
	
	input[type=checkbox]:after
	{
	content:'';
	position: absolute;
	width:29px;
	height:29px;
	border-radius:15px;
	box-shadow:0px 2px 2px 1px rgba(0,0,0,.2);
	cursor:pointer;
	background-color:#fff;
	transition:all 0.1s ease-in .1s;
	}
	
	input[type=checkbox]:checked:after{-webkit-transform:translateX(21px)}
	
	input[type=radio]{
	opacity:0;
	}
	
	togglePad{
	display:block;
	padding:0px 0px;
	}
	
	toggleCont{
	display:block;
	position:relative;
	border:1px solid #006CFF;
	border-radius:5px;
	overflow:hidden;
	background:transparent;
	font:13px/26px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	width:100%;
	box-sizing:border-box;
	}
	
	toggleCont toggleSection:nth-of-type(2){
	min-width:34%;
	}
	
	toggleSection{
	display:block;
	position:relative;
	float:left;
	height:26px;
	background:transparent;
	min-width:33%;
	}
	
	toggleSection > label{
	display:inline-block;
	padding:0px;
	margin:0px;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	text-align:center;
	cursor:pointer;
	background:transparent;
	color:#006CFF;
	z-index:3;
	}
	
	toggleSection input:checked + label{
	background:#006CFF;
	color:#EFEFF4;
	}
	
	toggleSection #directAds + label{
	border-left:1px solid #006CFF;
	border-right:1px solid #006CFF;
	}

/*
row > input[type=text], input[type=password], input[type=email]{
position:absolute;
top:0px;
left:0px;
text-align:right;
}
*/

*::-webkit-scrollbar{width:0px;-webkit-box-shadow:0px 0px 0px red}
*::-webkit-scrollbar-track{-webkit-box-shadow:0px 0px 0px red;border-radius:0px}
*::-webkit-scrollbar-thumb{border-radius:0px;background:red}

parent{
overflow-y:scroll;
overflow-x:hidden;
position:absolute;
top:45px;
-webkit-backface-visibility:none;
height:calc(100% - 45px);
width:100%;
box-sizing:border-box;
}

parentSplit{
overflow-y:scroll;
overflow-x:hidden;
position:absolute;
top:45px;
padding-right:300px;
-webkit-backface-visibility:none;
height:calc(100% - 45px);
width:100%;
box-sizing:border-box;
}

navBar{
display:block;
position:fixed;
width:100%;
text-align:center;
background:#F7F7F7;
border-bottom:1px solid #A7A7AB;
font:18px/45px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
color:#000;
font-weight:bold;
line-height:44px;
height:45px;
box-sizing:border-box;
padding-left:300px;
z-index:3;
}
@media screen and(-webkit-min-device-pixel-ratio:2){navBar{border-bottom:.5px solid #A7A7AB}}

navBarCenter{
display:block;
position:fixed;
width:100%;
text-align:center;
background:#F7F7F7;
border-bottom:1px solid #A7A7AB;
font:18px/45px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
color:#000;
font-weight:bold;
line-height:44px;
height:45px;
box-sizing:border-box;
z-index:3;
}
@media screen and(-webkit-min-device-pixel-ratio:2){navBarCenter{border-bottom:.5px solid #A7A7AB}}

navBar + contPad, navBarCenter + contPad{
padding-top:45px !important;
}

navButtonRight{
position:fixed;
top:7px;
right:7px;
z-index:4;
background:#fff;
border-radius:4px;
border:1px solid #48337D;
color:#48337D;
cursor:pointer;
overflow:hidden;
font:14px/14px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
box-sizing:border-box;
padding:7px;
}

navBarCenter img{
position:relative;
top:0px;
left:0px;
display:block;
margin:auto;
border-radius:0px;
height:auto;
max-height:44px;
width:auto;
max-width:100%;
cursor:default;
}

navLogo{
display:block;
position:fixed;
top:0px;
left:0px;
z-index:4;
width:300px;
border-right:1px solid #BBBBBE;
font:18px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
font-weight:bold;
text-align:center;
}
@media screen and(-webkit-min-device-pixel-ratio:2){navLogo{width:300.5px;border-right:.5px solid #BBBBBE;height:44.5px}}

bk{height:60px;width:60px;position:fixed;top:0;left:301;cursor:pointer}
bkLeft{height:60px;min-width:60px;position:fixed;top:0px;left:0px;cursor:pointer;text-indent:30px;width:auto;font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;z-index:4;color:#006CFF}
bc{height:44px;width:44px;position:absolute;top:0px;left:0px;-webkit-transform:scale(.8)rotate(-180deg)}
bt{background:#006CFF;position:absolute;height:4px;width:18px;top:15px;left:15px;-webkit-transform:rotate(45deg)}
bb{background:#006CFF;position:absolute;height:4px;width:18px;bottom:15px;left:15px;-webkit-transform:rotate(-45deg)}

fdRight{height:60px;min-width:60px;position:fixed;top:0px;right:0px;cursor:pointer;padding-right:32px;width:auto;font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;z-index:4;color:#006CFF;text-align:right}
fdRightC{height:44px;width:44px;position:absolute;top:0px;right:0px;-webkit-transform:scale(.8)rotate(0deg)}
/*
fdRightT{background:#006CFF;position:absolute;height:4;width:18;top:15;left:15;-webkit-transform:rotate(45deg)}
fdRightB{background:#006CFF;position:absolute;height:4;width:18;bottom:15;left:15;-webkit-transform:rotate(-45deg)}
*/

fd{height:44px;width:44px;position:absolute;top:0;right:0;-webkit-transform:scale(.5)rotate(0deg)}
ft{position:absolute;top:15px;right:13px;height:4px;width:18px;background:#C7C7CD;-webkit-transform:rotate(45deg)}
fb{position:absolute;bottom:15px;right:13px;height:4px;width:18px;background:#C7C7CD;-webkit-transform:rotate(-45deg)}
aLinkRow fd{display:none}

aContainer{
position:fixed;
top:0px;
left:0px;
padding-top:45px;
width:300px;
height:100%;
z-index:2;
-webkit-backface-visibility:none;
/* background:pink; */
}
@media screen and(-webkit-min-device-pixel-ratio:2){aContainer{width:300.5px}}

aContainerBorder{
position:fixed;
top:0px;
left:300px;
background:#8E8D92;
width:1px;
height:130%;
}
@media screen and(-webkit-min-device-pixel-ratio:2){aContainerBorder{left:300.5px;width:.5px}}

bContainer{
position:absolute;
top:0px;
left:0px;
height:100%;
width:100%;
margin-left:301px;
padding-right:301px;
box-sizing:border-box;
background:transparent;
z-index:0;
-webkit-transition:all .38s ease-out;
-webkit-backface-visibility:none;
display:block;
overflow-x:hidden;
overflow-y:scroll;
-webkit-overflow-scrolling:touch;
}

bVis{
display:block;
box-sizing:border-box;
background:#EFEFF4;
height:100%;
width:100%;
-webkit-backface-visibility:none;
}

cContainer{
display:block;
position:absolute;
top:0px;
left:100%;
height:100%;
width:100%;
box-sizing:border-box;
background:#EFEFF4;
z-index:1px;
-webkit-backface-visibility:none;
-webkit-transition:all .38s ease-out;
overflow-x:hidden;
overflow-y:scroll;
-webkit-overflow-scrolling:touch;
}

cVis{
display:block;
padding:0px 0px 0px 301px;
margin-left:-301px;
box-sizing:border-box;
background:#EFEFF4;
height:100%;
width:100%;
-webkit-backface-visibility:none;
}

dContainer{
display:block;
position:absolute;
top:0px;
left:100%;
height:100%;
width:100%;
box-sizing:border-box;
background:#EFEFF4;
z-index:1;
-webkit-backface-visibility:none;
-webkit-transition:all .38s ease-out;
overflow-x:hidden;
overflow-y:scroll;
-webkit-overflow-scrolling:touch;
}

dVis{
display:block;
padding:0px 0px 0px 301;
margin-left:-301px;
box-sizing:border-box;
background:#EFEFF4;
height:100%;
width:100%;
-webkit-backface-visibility:none;
}

.oil{
height:100.1%;	
}

contPad{
display:block;
background:#EFEFF4;
padding:0px 28px 35px 28px;
min-height:100%;
margin:auto;
max-width:768px;
box-sizing:border-box;
transform:translate3d(0,0,0);
-webkit-backface-visibility:hidden;
}

contBox{
display:block;
background:#fff;
width:100%;
position:relative;
box-sizing:border-box;
overflow:hidden;
border-radius:6px;
min-height:44px;
}

aContBox{
display:block;
position:relative;
background:#fff;
width:100%;
position:relative;
box-sizing:border-box;
overflow:hidden;
}

rowBox{
width:100%;
position:relative;
}

rowLabel{
padding-left:15px;
height:44px;
font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
color:#000;
-webkit-user-select:none;
position:absolute;
top:0px;
left:0px;
z-index:2;
width:auto;
}

rowLabel ~ input[type=text]{
text-align:right;
}

rowNote{
display:block;
text-align:center;
color:#fff;
position:absolute;
top:12px;
right:43px;
line-height:20px;
width:30px;
border-radius:10px;
background:#8A98B2;
font-weight:bold;
}

reload{
width:200px;
height:200px;
background:pink;
position:fixed;
bottom:10px;
left:10px;
z-index:1;
opacity:.5;
border-radius:4px;
}

linkRow{
display:block;
overflow:hidden;
box-sizing:border-box;
width:100%;
display:block;
font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
position:relative;
padding-left:15px;
cursor:pointer;
height:44px;
}

aLinkRow{
display:block;
overflow:hidden;
box-sizing:border-box;
width:100%;
font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
position:relative;
padding-left:15px;
cursor:pointer;
background:transparent;
}

.active{
background:#4ca1ff;
color:#fff;
}

touch{
display:block;
position:absolute;
top:0px;
left:0px;
width:100%;
opacity:0;
z-index:1;
font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
text-align:center;
}

touch:after{
content:"TOUCH";
}

row{
display:block;
width:100%;
text-align:left;
position:relative;
box-sizing:border-box;
padding-left:15px;
font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
height:44px;
}

row:after{
content:"";
display:block;
margin-left:0px;
height:1px;
width:100%;
background:#C9C8CD;
box-sizing:content-box;
display:block;
}
@media screen and(-webkit-min-device-pixel-ratio:2){row:after{height:.5px}}

row + input[type=submit]{
padding-left:0px;
}

download{
display:block;
width:100%;
text-align:left;
position:relative;
box-sizing:border-box;
padding-left:15px;
font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
height:44px;
color:#006CFF;
}

data{
position:absolute;
top:0px;
right:0px;
padding-right:15px;
font:17px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
color:#8E8E93;
}

infoPop{
display:block;
padding:15px;
box-sizing:border-box;
font:BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
font-size:17px;
line-height:1;
-webkit-user-select:text;
}

#inDevIcon{
position:absolute;
top:7px;
left:15px;
width:30px;
border-radius:22.544%;
background:#fff;
font:12px/28px helvetica;
border:1px solid #006CFF;
color:#006CFF;
box-sizing:border-box;
text-align:center;
display:none;
}

info{
display:block;
padding:15px;
box-sizing:border-box;
font:17px/22px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
-webkit-user-select:text;
word-wrap:break-word;
}

infoTitle{
display:block;
padding:18px 0px 29px 0px;
font:17px/0px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
font-weight:bold;
color:#000;
}

brk{
display:block;
width:100%;
height:11px;
}

longRow{
display:block;
width:100%;
position:relative;
box-sizing:border-box;
height:44px;
-webkit-user-select:text;
}

longData{
position:absolute;
top:0px;
right:0px;
padding-right:15px;
font:14px/44px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
color:#8E8E93;
}

redColor{
color:red;
}

blackColor{
color:black;
}

blueColor{
color:#006CFF;
}

hn{
height:1px;
width:100%;
background:red;
box-sizing:border-box;
display:block;
}
@media screen and(-webkit-min-device-pixel-ratio:2){hn{height:.5px}}

hf{
height:1px;
width:100%;
background:#C9C8CD;
box-sizing:border-box;
display:block;
}
@media screen and(-webkit-min-device-pixel-ratio:2){hf {height:.5px}}

hi{
margin-left:15px;
height:1px;
width:100%;
background:#C9C8CD;
box-sizing:border-box;
display:block;
}
@media screen and(-webkit-min-device-pixel-ratio:2){hi{height:.5px}}

hp{
border-left:15px solid #fff;
height:1px;
width:100%;
background:#C9C8CD;
box-sizing:border-box;
display:block;
}
@media screen and(-webkit-min-device-pixel-ratio:2){hp{height:.5px}}
contBox hp:last-of-type{display:none}

hcp{
height:.5px;
width:100%;
background:#C8C7CC;
box-sizing:border-box;
display:none;
}
#B1 hcp:first-of-type{display:none}

sn{
display:block;
width:100%;
box-sizing:border-box;
font:14px/17px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
color:#6D6D72;
padding:8px 0px 0px 16px;
margin-bottom:-3;
}

sl{
display:block;
width:100%;
box-sizing:border-box;
font:14px/0px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
color:#6D6D72;
padding:40px 0px 15px 16px;
text-transform:uppercase;
margin:0px;
}

statsHeaderSl{
display:block;
width:100%;
box-sizing:border-box;
font:14px/0px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
color:#6D6D72;
padding:85px 0px 15px 16px;
text-transform:uppercase;
}

statsHeader{
text-align:center;
display:block;
margin-left:28px;
padding-right:56px;
box-sizing:border-box;
width:100%;
font:14px/44px -apple-system-body,arial;
text-transform:uppercase;
}
/* if ipad portrait, decrease font size */
@media only screen and (max-width: 900px) {statsHeader{font:10px/44px -apple-system-body,arial;}}

statsHeaderC{
position:absolute;
top:0px;
left:301px;
padding:0px 301px 0px 60px;
box-sizing:border-box;
background:#F7F7F7;
width:100%;
height:45px;
border-bottom:1px solid #A7A7AB;
}
@media screen and(-webkit-min-device-pixel-ratio:2){statsHeaderC{border-bottom:.5px solid #A7A7AB}}

statsHeaderCC{
position:fixed;
top:45px;
left:0px;
width:100%;
height:45px;
z-index:200;
overflow:hidden;
}

sd{
width:100%;
height:35px;
display:block;
}

adjusted{
position:absolute;
top:0px;
left:15px;
}

j{
height:100%;
width:100%;
box-sizing:border-box;
background:#999;
display:-webkit-flex;
-webkit-align-items:flex-end;
position:absolute;
top:0px;
left:0px;
}

/* if device narrow, limit to seven days of cliks generated data */
@media only screen and (max-width: 1200px) {

	j e:nth-child(-n+7){
	display:none;
	}
	
	datesFlex dates:nth-child(-n+7){
	display:none;
	}
	
}

c{
position:relative;
}

m{
text-align:center;
display:block;
box-sizing:border-box;
width:100%;
font:17px/44px -apple-system-body,arial;
height:44px;
}

img + m{
margin-left:60px;
padding-right:60px;
}

n{
display:block;
width:20%;
float:left;
}

reject{
display:block;
cursor:pointer;
position:absolute;
top:11px;
right:15px;
height:22px;
width:22px;
background:red;
border-radius:50%;
box-shadow:0px 2px 0px 0px #f2f2f2;
}

rejectMinus{
display:block;
background:#fff;
height:1px;
width:10px;
position:absolute;
top:10.5px;
left:6px;
}

/* nü stats */

e{
width:100%;
position:relative;
letter-spacing:0;
text-align:center;
font:15px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
background:-webkit-linear-gradient(top,#dfdfdf,#999);
min-height:125px;
padding-top:5px;
box-sizing:border-box;
}

y{
position:absolute;
left:0px;
bottom:68px;
margin:0px;
width:100%;
z-index:1;
}

z{
position:absolute;
margin:0px;
left:0px;
bottom:39px;
width:100%;
z-index:1;
}

datesFlex{
position:absolute;
bottom:0px;
left:0px;
width:100%;
height:40px;
display:-webkit-flex;
-webkit-align-items:flex-end;
background:transparent;
}

dates{
width:100%;
position:relative;
letter-spacing:0;
text-align:center;
font:15px/40px BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
background:transparent;
}

star{
color:#FC9520
}

iButton{
display:none;
position:absolute;
top:0px;
right:0px;
width:60px;
height:44px;
z-index:5;
cursor:pointer;
}

iLetter{
position:absolute;
top:11px;
right:15px;
height:22px;
width:22px;
border:1px solid #006CFF;
color:#006CFF;
box-sizing:border-box;
border-radius:100%;
font:16px/21px helvetica;
text-align:center;
}

.lt{
text-decoration:line-through;
}